.navigation {
  margin: 15px 10px;
}

h1 {
  margin: 0px;
}

.links {
  position: absolute;
  right: 1%;
  top: 2%;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  margin: 0px 5px;
}

.link-icon {
  font-size: 30px;
}
