html,
body {
  height: 100%;
}

body {
  margin: 0px;
  background-color: rgb(214, 225, 245);
  font-family: "Merriweather", sans-serif;
  color: #232a3e;
}

a {
  color: #232a3e;
}

a:visited {
  color: #232a3e;
}
